html{
    scroll-behavior: smooth;
}

body{
    font-family: Helvetica, sans-serif;
    background-color: #f9f9f9;
}
.main-color {
    color: rgb(1, 85, 1);
}

.main-font {
    font-family: Helvetica;
}

.border {
    border-radius: 5px;
}

.title {
    font-size: 70px;
    font-family: Helvetica;
}

.logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.img {
    height: 15%;
    width: 15%;
}

.login {
    color: rgb(1, 58, 1);
    position: absolute;
    top: 35px;
    right: 85px;
    height: fit-content;
    width: fit-content;
    font-family: Helvetica;
    font-size: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
    transition: background-color 0.3s;
}

.input-local {
    text-align: center;
    border-radius: 15px;
    width: 101%;
    background-color: rgb(224, 224, 224);
    font-family: monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.login{
    background-color: #004d03;
    
}
.login-button:hover {
    background-color: #45a049;
    transition: background-color 0.3s;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

.navbar a {
    color: rgb(114, 114, 114);
    font-family: Helvetica;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
    padding: 14px 20px;
    margin: 0 15px;
    padding-bottom: 0px;
}

.navbar a:hover {
    color: rgb(240, 91, 37);
}

.tsize:hover {
    font-size: 33px;
    transition: all 0.3s ease-in-out;
}
